/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

/* Estilização do cabeçalho */
header {
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    text-align: center;
    padding: 20px;
}

.name {
    color: #ff007f; 
    font-weight: bold;
    font-size: 26px; 
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



/* Foto de perfil */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    object-fit: cover;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Títulos */
h1, h2 {
    color: #ff7eb3;
    text-align: center;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #3a3a3a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

/* Links */
a {
    color: #ff7eb3;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff7eb3; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 3px;
    border-radius: 5px;
}

/* Estilização da tabela de habilidades */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background: #3a3a3a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

th, td {
    padding: 12px;
    border: 1px solid #555;
}

th {
    background-color: #ff7eb3;
    color: white;
}

td {
    color: #fff;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #2a2a2a;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background: #ff7eb3;
    color: white;
    margin-top: 20px;
}
